 

.nav-link:hover{
   text-decoration: underline;
}

.card{
   border: none;
}

.card img{
    border-radius: 0;
}

.card-body{
    padding-left: 0px;
 }


 .section-two-wrapper{
    margin-top: 10px;
   
 }


 .card-text{
   position: relative;
 }

 

 .S2-card-title{
   position: relative;
   top: 80px;
   left: 80px;
    width: 500px;
   
    color: black;
    font-size: 50px;
 }

 .S2-card-text{
   position: absolute;
   top: 220px;
   left: 90px;
    color: black;
    font-size: 30px;
    
   
 }

.S2-BTN{

   position: absolute;
   top: 270px;
   left: 90px;
    background-color: #0d6efd;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
   
}


 .dropdown{
   /* align-items: center;
   justify-content: center; */
   padding-top: 8px;
}

.card-part2{
    padding: 50px 0;
}

.CP2{
    font-size: 40px;
}

.nav-link  i{
   padding: 0 6px;
   font-size: 25px
}
.footer-inner{
   background-color: rgb(237, 237, 237);
}

.footer-inner .container{
   display: flex;
   justify-content: space-between;
   
}
.footer-inner .container ul{
   padding-left: 0px;
  
  list-style-type: none;
}
.footer-inner .container ul li a{
   
   text-decoration: none;
   color: black;
}
.footer-inner .container ul li{
   padding: 6px 0px;
}
.footer-inner .container ul li a:hover{
  text-decoration: underline;
}
.footer-inner .container  h5{
   margin-top: 50px;

}

.second-last-div{
  margin-top: 20px;
   display: flex;
   justify-content: space-between;
  
}
.second-last-div .container ul{
   
   list-style-type: none;
   display: flex;
}
.second-last-div ul li a{
   text-decoration: none;
   color: black;
   padding: 0 10px;
}

.second-last-div ul li a:hover{
   text-decoration: underline;
}


   

@media (min-width: 575.98px) and (max-width: 991.98px) 



{.footer-inner .container{
   
   display: block;
   
}

.second-last-div{
   margin-top:0;
   display: block;
    
 }

 .second-last-div .container ul{
   
   list-style-type: none;
   display: block;
}
.S2-card-title{
  position: absolute;
  top: 10px;
  left: 10px;
   font-size: 30px;
 }

 .S2-card-text{
position: absolute;
top: 50px;
left: 10px;
  
    font-size: 16px;
    
   
 }

 .S2-BTN{

   position: absolute;
   top: 80px;
   left: 10px;
    background-color: #0d6efd;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
   
}

}



